/*Estilo 1 (.js)*/

body 
  {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f6f9;
    color: #2c3e50;
    margin: 0;
    padding: 0;
  }
  /*Margenes de la cabecera y el final de la web (centramos todo el texto)*/
  header, footer 
  {
    text-align: center;
    padding: 20px;
  }
  /*Estética nº1 del titulo principal*/
  #title_CV 
  {
  font-family: Courier, monospace;
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 30px auto;
  text-align: center;
  
  
  display: inline-block;          
  padding: 20px 40px;             
  border: 3px solid #3498db;      
  border-radius: 20px;            
  background: linear-gradient(90deg, #3498db, #002eac);
  color: white;                   
  
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .title-center 
  {
  text-align: center; /* Centramos el tecto, classe que he usado en algunas <div> */
  }
  
  #title_CV:hover 
  {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
  
/* Estética nº1 de los subtítulos de tamaño <h3> */
  .title_h3 
  {
    font-size: 2em;
    font-weight: bold;
    color: #34495e;
    border-left: 6px double #3498db;
    padding-left: 12px;
    padding-left: 10px;
    margin-top: 25px;
  }
/* Estética nº1 de los subtítulos de tamaño <h4> */
  .title_h4 
  {
    font-size: 1.4em;
    font-weight: bold;
    color: #3498db;
    border-bottom: 2px dashed #9b59b6;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 20px;
  }
/* Estética nº1 de los párrafos */
  .parrf 
  {
    font-size: 1em;
    line-height: 1.6;
    background: #ffffff;
    border-left: 4px solid #3498db;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 18px;
    margin-left: 5px;
  }
/* Estética nº1 de los botones */
  button 
  {

    padding: 10px 15px;
    border: 3px solid #0099ff; 
    background: #3498db;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover 
  {
    background: #2980b9;
  }



/* Modo oscuro */
  .dark-mode 
  {
    background-color: #1e1e1e;
    color: #f9f9f9;
  }
  
  .dark-mode .parrf 
  {
    background: #2c2c2c;
    border-left: 4px solid #ffc400;
  }
  
  .dark-mode .title_h3
  {
    color: #f9f9f9;
    border-left: 6px double #ffc400;
    padding-left: 10px;
  }
  .dark-mode .title_h4
  {
    color: white;
    padding-left: 10px;
  }
  .dark-mode a
  {
  color: #ffffff;                  
  text-decoration: underline;      
  text-decoration-thickness: 1px;  
  text-underline-offset: 1px;      
  text-decoration-color: #66b3ff;
  }
  .dark-mode #title_CV
  {
      background: linear-gradient(90deg, #7700ff, #001969);
      color: white; 
      border: 3px solid #391894;  
  }
  .dark-mode button
  {
    background: #7700ff;
    border: 3px solid #391894; 
  }
  
  .dark-mode .navs a 
  {
    color: black;
  }
  
  .dark-mode .navs a:hover 
  {
    background: #7700ff;
    color: #fff;
  }

/* Final Dark Mode */




/* Eliminamos vacíos extraños entre imágenes */
.references
{
  display: flex;        
  gap: 15px;            
  align-items: center;  
}

/* ul.parrf porque estamos apuntando a todos los <p> dentro de <ul> */
ul.parrf 
{
  list-style-type: disc;     
  padding-left: 30px;  
/* list-style-type: none; */     
}
#FotoYo
{
  position: absolute;
  margin: 5px;
  right: 20px;
  top: 20px;
  width: 360px;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#FotoYo:hover 
{
  transform: translateY(-10px); /* flota hacia arriba */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* sombra */
}

#FotoLogos
{
  padding: 40px;
  border-radius: 15px;
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#FotoLogos:hover
{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.navs 
{
  display: flex;
  justify-content: center;   
  gap: 20px;                
  margin-top: 15px;
}

.navs a 
{
  text-decoration: none;
  color: black;
  background-color: #bdc3c7;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background 0.3s;
}

.navs a:hover 
{
  background: #3498db;
  color: #fff;
}

/*Trivial*/

.resposta {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
}


.resposta-correcta {
  background-color: #8aff8a;
  color: #0a4d0a;
  border-color: #00aa00;
}

.resposta-incorrecta {
  background-color: #ff8a8a;
  color: #4d0a0a;
  border-color: #aa0000;
}

/* Contact */

#BodyContact
{
  text-align: center;
}



#divli 
{
  display: inline-block;
  border: 5px solid #ffc400;
  padding: 15px;
  margin: 50px;
  border-radius: 10px;
}
